page-creative-potential {
	table {
		border: none;
		border-color: #CADF24;
		margin: 1em 0;
		width: 100%;

		th {
			font-weight: normal;
		}

		h6 {
			font-weight: bold;
			height: 2em;
			line-height: 3em;
			text-align: center;
		}

		td {
			padding: .5em;
		}
	}
}
