page-creative-process {
	.role {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 1em 0;

		ion-icon {
			color: #cadf24;
			font-size: 3em;
			margin-right: 0.5em;
		}
	}
}
